# This style of ignore creates a whitelist instead of a blacklist so that we
# don't have to continually add new files here so that Docker ignores them.
*
!/**/*.go
!/sql/*.sql
!/sql/migrations/*.sql
!/go.mod
!/go.sum
!/layouts/
!/public/
!/views/

# Send all Go files except test files which we don't need for the build.
**/*_test.go
